$hairline: 0.0625rem; // 1px
$borderWidth: 0.1875rem; // 3px

$spacer: 6px !default;
// stylelint-disable-next-line scss/dollar-variable-default

// 0 3 6 12 18 24 36 48 78 108
$spacers: (
  0: 0,
  1: $spacer / 2,
  2: $spacer,
  3: $spacer * 2,
  4: $spacer * 3,
  5: $spacer * 4,
  6: $spacer * 6,
  7: $spacer * 8,
  8: $spacer * 13,
  9: $spacer * 18,
);

// Helper function
@function spacer($key: 0) {
  @return map-get($spacers, $key);
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}
