<div class="d-md-flex">
  <div class="wpdh-footer__card wpdh-footer__callout">
    <h1 class="-fontDisplay">
      STILL CAN’T FIND
      <span class="-fontColorGreen"> WHAT YOU’RE LOOKING FOR?</span>
    </h1>
  </div>
  <div class="wpdh-footer__card wpdh-footer__contact">
    <h4 class="mb-0">Let’s start a</h4>
    <h3 class="mt-0 -fontDisplay -fontColorBlue">CONVERSATION</h3>

    <p class="-fontXSmall">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque magnam
      odit sapiente, iste reiciendis corporis, obcaecati expedita enim inventore
    </p>

    <div class="wpdh-footer__channelContainer d-md-flex flex-wrap">
      <div class="wpdh-footer__channel">
        <h4 class="mb-0 -fontDisplay">CALL US</h4>
        <p>
          <a href="#">XXX-XXX-XXXX</a>
        </p>
      </div>
      <div class="wpdh-footer__channel">
        <h4 class="mb-0 -fontDisplay">EMAIL US</h4>
        <p>
          <a href="#">fis@fisglobal.com</a>
        </p>
      </div>
      <div class="wpdh-footer__channel">
        <h4 class="mb-0 -fontDisplay">STAY CONNECTED</h4>

        <wpdh-icon
          [icon]="'facebook'"
          class="-colorAccentLightBlue"
        ></wpdh-icon>

        <wpdh-icon
          [icon]="'linkedin'"
          class="-colorAccentLightBlue"
        ></wpdh-icon>

        <wpdh-icon [icon]="'twitter'" class="-colorAccentLightBlue"></wpdh-icon>
      </div>
    </div>
  </div>
  <div class="wpdh-footer__card wpdh-footer__support">
    <h4 class="mb-0">Need</h4>
    <h3 class="mt-0 -fontDisplay -fontColorBlue">SUPPORT</h3>

    <p class="-fontXSmall">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque magnam
      odit sapiente, iste reiciendis corporis, obcaecati expedita enim inventore
      consequatur a iusto. Praesentium voluptatum vitae, esse enim quas tempora
      inventore.
    </p>

    <wpdh-button class="wpdh-footer__buttonSupport -outline -white"
      >Get Started</wpdh-button
    >
  </div>
</div>
