@import "../../../sass/styles";

:host {
  .wpdh-masthead {
    &__imageContainer {
      background-color: $colorShadePrimaryBlackS20;
      background-position: center;
      background-size: cover;
      min-height: 30rem;
      text-align: left;
    }

    &__buttonScrollDown {
      left: calc(50% - #{spacer(5)});

      position: relative;

      top: -1.5rem;
    }

    &__contentContainer {
      margin: spacer(9) 0;
    }
  }
}
